body {
    font-family: Monotype Corsiva;
    margin-top: 10px;
    background-image : url("http://www.drodd.com/images15/harry-potter-wallpaper14.jpg");
}

.center {
    text-align: center;
    border : 10px;
    border-radius : 50%;
}

.text-big {
    font-size : 300%;
    color : green;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.container{
    max-width : 800px;
    margin : 0 auto;
    font-family : sans-serif;
    color : #4a4a4a;
    padding-left : 20px;
    padding-right : 20px;
}

h1 {
    font-family : Century Gothic;
    color : black;
}

h3 {
    font-family : Monotype Corsiva;
    color : black;
}

.footer {
    margin-top : 400px;
    text-align : center;
}

a {
    text-decoration : none;
    color : white;
    font-size : 15px;
} 

.btn1 {
    height : 20px;
    width : 200px;
    border-radius : 5px;
    border-radius : 2px;
    text-align : center;
    background-color : #00ffff;
    display : inline-block;
}

.btn2 {
    height : 20px;
    width : 100px;
    border-radius : 5px;
    border-radius : 2px;
    text-align : center;
    background-color: #00ffff;
    display : inline-block;
}

.gryffindor {
    height : 100px;
    width : 100px;
    margin-left : 5px;
    border : 1px;
    border-radius : 51px;
    display : inline-block;
}

.ravenclaw {
    height : 100px;
    width : 100px;
    margin-left : 120px;
    border : 1px;
    border-radius : 51px;
    display : inline-block;
}

.hufflepuff {
    height : 100px;
    width : 100px;
    margin-left : 240px;
    border : 1px;
    border-radius : 51px;
    display : inline-block;
}

.slytherin {
    height : 100px;
    width : 100px;
    margin-left : 350px;
    border : 1px;
    border-radius : 51px;
    display : inline-block;
}